Welcome to my LightSaber.  Prepare to be amazed.
<p>
<a href='/sound'>Hear my swooshy sound!</a>
<form action="/users/new" method="POST">
  <input type="text" name="name" placeholder="Name">
  <input type="password" name="password" placeholder="Password">
  <input type="submit">
</form>
