<div class="container_body">
  <h1> All songs </h1>
  <%@songs.each do |song| %>
    <div class="song">
      <% if song.get_lyrics %>
      <h3><a href="/songs/<%=song.id%>"><%= song.title %></a></h3>
      <% end%>
      <div class="soundcloud">
        <iframe width="100%" height="35px" scrolling="no" frameborder="no" src="<%=song.url%>"></iframe>
      </div>
    </div>
  <%end%>
</div>