<div class="container_body">
  <h2> Who are we ? </h2>
  <p> At The... co. &copy;, we have always been interested in musics and their lyrics... We have a long tradition of modifying lyrics for our own purposes and to make the world a better place. We have been inclined to find a better solution to make the editing of lyrics the most pleasant experience possible, as hard as that can be. Ladies and gentlemen, let me present you, the...</p>
  <p> We have designed the website so that you get an overview of the world of music editting and so that you can also dive into this interesting and complex world in the most simplistic way. Navigation on the website is clear, going to All Songs will present you with every song you can freestyle from, clicking on a song's title will present you with it's lyrics, you will only need to modify the lyrics and get the karaoke going </p>
  <p> Have a nice journey on this website </p>
  <i> Rayan Boutaleb, CEO of The ... &copy; </i>

</div>