<form action="/login" method="post" class="login_form">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit">
</form>

<div class="error">
</div>