<form action="/signup" method="post">
  <input type="text" name="email" placeholder="Email-address">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="password" name="password_confirmation" placeholder="Confirmation">
  <input type="submit">
</form>